@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --sidebar-width: 11.5rem;
    --sidebar-background-color: rgb(230, 243, 247);
}

body {
    font-family: 'Poppins', sans-serif;
}

[data-id="main"] {
    padding: 0 0.25in 0 0.25in;
    font-size: 0.8rem;
    float: left;
}

h1 {
    text-transform: capitalize;
    color: rgb(0, 152, 199);
    font-weight: 600;
}

.aside h2 {
    font-weight: 500;
    font-size: 1rem;
    color: rgb(0, 152, 199);
}

.aside {
    padding: 0.1in var(--sidebar-horizontal-padding);
}

a {
    color: rgb(0, 152, 199);

}

.level2 {
    margin-top: 0in;
}


.aside .level2 {
    margin-top: 0.1in;
}
